.links line {
  stroke:#999;
  stroke-width: 2px;
}

.nodes circle{
  /* stroke:#dfdfdf;
  stroke-width: 2px; */
}

.hull path{
  fill: #abbaca;
  fill-opacity: 1;
  stroke: #abbaca;
  stroke-opacity: 1;
  opacity: .7;
  /*stroke-width: 67px;*/
  stroke-linejoin: round;
}

text {
    font-family: sans-serif;
    font-size: 14px;
    margin: 20px;
}

.relationship-button {
  background-color: #757973;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  font-size: 16px;
}

.relationship-button:hover {
  background-color: #309700;
  color: #fefff0;
}

#page {
  background-color: #ffffff;
  height: 98vh;
  width: 100%;
}

#top-panel {
  display: flex;
  flex-direction: row;
  float: top;
  background-color: #f3f3f3;
  height: 5%;
}

#file-io {
  display: flex;
  flex-direction: row;
  width: 40%;
}

#file-intake {
  width: 80%;
  text-align: left;
  font-size: 16px;
  padding: 5px 5px;
}

#export {
  width: 20%;
  background-color: rgb(243, 243, 243);
  border: none;
  margin: 10px;
  color:rgb(59, 59, 59);
  padding: 5px 5px;
  text-align: center;
  font-size: 16px;
  margin-right: auto;
}

#export:hover {
  background-color: #00927f;
  color:#ffffff;
}

#export:active {
  background-color: #f24545;
  color: #ffffff;
}

#option-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 60%;
}

#toggle-same-as {
  width: 15%;
  background-color: rgb(243, 243, 243);
  border: none;
  margin: 10px;
  color:rgb(59, 59, 59);
  padding: 5px 5px;
  text-align: center;
  font-size: 16px;
  display: none;
}

#toggle-same-as:hover {
  background-color: #3b3b3b;
  color:#ffffff;
}

#scissors {
  width: 15%;
  background-color: #f3f3f3;
  border: none;
  margin: 10px;
  color:#3b3b3b;
  padding: 5px 5px;
  text-align: center;
  font-size: 16px;
}

#scissors:hover {
  background-color: #3b3b3b;
  color:#ffffff;
}

#reload-displayedGraph {
  width: 15%;
  background-color: #f3f3f3;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 20px;
  color:#3b3b3b;
  padding: 5px 5px;
  text-align: center;
  font-size: 16px;
}

#reload-displayedGraph:hover {
  background-color: #3b3b3b;
  color:#fefff0;
}

#main {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height:95%;
  display: flex;
  flex-direction: row;
}

#data-display {
  display: flex;
  flex-flow: row wrap;
  width: 90%;
  height:100%;
}

#svg-container {
    background-color: #ffffff;
    float: left;
    width: 65%;
    height:100%;
}

#text-container {
  float: left;
  width: 35%;
  height: 100%;
}

#text-div {
  position: relative;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  font-size: 18px;
}

#text-viewbox {
  position: absolute;
  border: 4px solid #000;
  /* width: 30%; */
  /* height: 20%; */
  /* top: 5%; */
  /* left: 5px; */
  background-color: #00927f;
  opacity: .2;
  resize: vertical;
  overflow: hidden;
  /* pointer-events: none; */
}

#relationships-panel {
    background-color: rgb(181, 181, 190);
    display: flex;
    flex-direction: column;
    float: right;
    width: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#relationships-panel > div {
    background-color: lightgrey;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}